AWS_PROFILE=soc-project
AWS_REGION=ap-southeast-1
EXPECTED_AWS_ACCOUNT_ID=908157891283
ADMIN_IP_CIDR=<your-admin-public-ip>/32
TARGET_SECURITY_GROUP_ID=
WAZUH_API_URL=
WAZUH_API_USER=
WAZUH_API_PASSWORD=
ML_MODEL_PATH=
CONFIDENCE_THRESHOLD=
